@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 35px;
    animation: moveInLeft 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 9px;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.2);
    text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 16px; }
  .paragraph:not(:last-child) {
    margin-bottom: 30px; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 80px !important; }

.u-margin-bottom-medium {
  margin-bottom: 40px !important; }

.u-margin-bottom-small {
  margin-bottom: 15px !important; }

.u-margin-top-big {
  margin-top: 80px !important; }

.u-margin-top-huge {
  margin-top: 100px !important; }

.section-about {
  background-color: #f7f7f7;
  padding: 250px 0px;
  margin-top: -20vh; }

.section-features {
  padding: 200px 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  transform: skewY(-7deg);
  margin-top: -120px; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 250px 0 150px 0;
  margin-top: -120px; }

.section-stories {
  padding: 150px 0;
  position: relative; }

.section-book {
  padding: 150px 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  height: 800px;
  border-radius: 3px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 55%;
    padding: 60px; }


    .book2 {
      /* background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg); */
      background-size: cover;
      height: 800px;
      border-radius: 3px;
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2); }
      .book__form {
        width: 55%;
        padding: 60px; }



.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 50px;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.4);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  outline: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  color: #fff;
  background-color: #55c57a; }
  .btn--green::after {
    background-color: #55c57a; }

.btn--animated {
  animation: moveInUp 0.7s ease-out 0.25s;
  animation-fill-mode: backwards; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-size: 16px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(2px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 20px; }
    .composition__photo--p1 {
      left: 0;
      top: -20px; }
    .composition__photo--p2 {
      right: 0;
      top: 20px; }
    .composition__photo--p3 {
      left: 20%;
      top: 100px; }
    .composition__photo:hover {
      outline: 15px solid #55c57a;
      transform: scale(1.05) translateY(-5px);
      box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  padding: 25px;

  height: 700px;
  width: 1200px; 
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  .feature-box__icon {
    font-size: 60px;
    margin-bottom: 5px;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-15px) scale(1.03); }

.card {
  perspective: 1500px;
  -moz-perspective: 1500px;
  position: relative;
  height: 520px; }
  .card__side {
    height: 520px;
    transition: all 0.5s ease;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 230px;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 25px;
    font-weight: 100px;
    text-transform: uppercase;
    color: white;
    text-align: right;
    position: absolute;
    top: 120px;
    right: 20px;
    width: 70%; }
  .card__heading-span {
    padding: 10px 15px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 30px; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 16px;
        padding: 10px; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 80px;
    color: white; }
  .card__price-only {
    font-size: 14px;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 60px;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px solid;
  padding: 60px;
  padding-left: 90px;
  font-size: 16px;
  transform: skewX(-12deg); }
  .story__shape {
    height: 150px;
    width: 150px;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-30px) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-40px) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    transform: translateX(-40px) scale(1);
    filter: blur(3px) brightness(80%); }

.form__group:not(:last-child) {
  margin-bottom: 20px; }

.form__input {
  font-family: inherit;
  font-size: 15px;
  padding: 15px 20px;
  border-radius: 2px;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }

.form__label {
  font-size: 12px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 7px;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-label {
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding-left: 45px; }

.form__radio-button {
  height: 30px;
  width: 30px;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 0; }
  .form__radio-button::after {
    height: 13px;
    width: 13px;
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    background-color: #55c57a;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s; }

.form__radio-input {
  display: none; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    font-size: 30px;
    right: 25px;
    top: 25px;
    text-decoration: none;
    display: inline-block;
    line-height: 1; }
  .popup__close:hover {
    color: #55c57a; }
  .popup__content {
    width: 75%;
    background-color: white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3);
    transition: all 0.4s;
    transition-delay: 0.2s; }
  .popup__left {
    width: 33.33%;
    display: table-cell; }
  .popup__right {
    width: 66.67%;
    display: table-cell;
    vertical-align: middle;
    padding: 30px 50px; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 14px;
    margin-bottom: 40px;
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }

.bg-video {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__logo {
    height: 35px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 1140px;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 80px; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 60px; }
  .row .col-1-of-2 {
    width: calc((100% - 60px) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 60px) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 60px) / 3) + 60px); }
  .row .col-1-of-4 {
    width: calc(((100% - 3 * 60px) / 4)); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 60px) / 4) + 60px); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 60px) / 4) + 2 * 60px); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: fixed;
  top: 60px;
  right: 60px;
  z-index: 2000;
  box-shadow: 0 10px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  top: 65px;
  right: 65px;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1500;
  opacity: 0;
  width: 0px;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  font-weight: 300;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 15px;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(10px); }

.navigation__item {
  margin: 10px; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(90); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  margin-top: 32px;
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 30px;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -8px; }
  .navigation__icon::after {
    top: 8px; }

.navigation__button:hover .navigation__icon::before {
  top: -10px; }

.navigation__button:hover .navigation__icon::after {
  top: 10px; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(225deg); }

.footer {
  background-color: #333;
  padding: 100px 0px;
  font-size: 14px;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 80px; }
  .footer__logo {
    width: 150px;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 20px;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__items {
    display: inline-block; }
    .footer__items:not(:last-child) {
      margin-right: 15px; }
  .footer__links:link, .footer__links:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__links:hover, .footer__links:active {
    color: #55c57a;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 20px;
    display: inline-block; }
